name: Check package

on:
  workflow_call:
    inputs:
      package-name:
        description: 'The name of the package to check.'
        default: ''
        required: true
        type: string

jobs:
  get_package_info:
    name: Get package info for ${{ inputs.package-name }}
    uses: ./.github/workflows/get_package_info.yml
    with:
      package-name: ${{ inputs.package-name }}
  check_codegen:
    if: ${{ needs.get_package_info.outputs.proto-subpath != '' }}
    name: Check codegen for ${{ inputs.package-name }}
    needs: get_package_info
    uses: ./.github/workflows/check_codegen.yml
    with:
      package-name: ${{ inputs.package-name }}
      proto-basepath: ${{ needs.get_package_info.outputs.proto-basepath }}
      proto-subpath: ${{ needs.get_package_info.outputs.proto-subpath }}
      proto-include-path: ${{ needs.get_package_info.outputs.proto-include-path }}
      output-basepath: ./packages/${{ inputs.package-name }}/src
      output-format: ${{ needs.get_package_info.outputs.output-format }}
  check_analyzers:
    name: Check analyzers for ${{ inputs.package-name }}
    needs: get_package_info
    uses: ./.github/workflows/check_analyzers.yml
    with:
      package-name: ${{ inputs.package-name }}
  check_docs:
    name: Check docs for ${{ inputs.package-name }}
    uses: ./.github/workflows/check_docs.yml
    with:
      package-name: ${{ inputs.package-name }}