name: Check package

on:
  workflow_call:
    inputs:
      package-name:
        description: 'The name of the package to check.'
        default: ''
        required: true
        type: string
      proto-basepath:
        description: 'The base path for proto files used for generation.'
        default: '../../third_party/ni-apis'
        type: string
      proto-subpath:
        description: 'The subpath for the proto files.'
        default: ''
        required: true
        type: string
      proto-include-path:
        description: 'Additional path to include in the proto generation.'
        default: '../../third_party/ni-apis'
        type: string
      output-format:
        description: 'submodule or subpackage'
        default: ''
        required: true
        type: string

jobs:
  check_codegen:
    name: Check codegen for ${{ inputs.package-name }}
    uses: ./.github/workflows/check_codegen.yml
    with:
      package-name: ${{ inputs.package-name }}
      proto-subpath: ${{ inputs.proto-subpath }}
      proto-basepath: ${{ inputs.proto-basepath }}
      proto-include-path: ${{ inputs.proto-include-path }}
      output-basepath: ../../packages/${{ inputs.package-name }}/src
      output-format: ${{ inputs.output-format }}
  check_analyzers:
    name: Check analyzers for ${{ inputs.package-name }}
    uses: ./.github/workflows/check_analyzers.yml
    needs: [check_codegen]
    with:
      package-name: ${{ inputs.package-name }}
  check_docs:
    name: Check docs for ${{ inputs.package-name }}
    uses: ./.github/workflows/check_docs.yml
    needs: [check_analyzers]
    with:
      package-name: ${{ inputs.package-name }}