name: Check analyzers

on:
  workflow_call:
    inputs:
      package-name:
        description: 'The name of the package folder to check.'
        default: ''
        required: true
        type: string
      package-basepath:
        description: 'The base path of the package to check, relative to the repo root.'
        default: ''
        required: true
        type: string
      install-extras:
        description: 'A space-separated list of package extras to install.'
        default: ''
        required: false
        type: string

jobs:
  check_analyzers:
    name: Check analyzers for ${{ inputs.package-name }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ['3.10', 3.14]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Set the working-directory for all steps in this job.
        working-directory: ${{ github.workspace }}/${{ inputs.package-basepath }}/${{ inputs.package-name }}
    steps:
      - name: Check out repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Analyze Python Project
        uses: ni/python-actions/analyze-project@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        with:
          project-directory: ${{ github.workspace }}/${{ inputs.package-basepath }}/${{ inputs.package-name }}
          install-args: "--extras '${{ inputs.install-extras }}'"
      - name: Bandit security checks
        run:  poetry run bandit -c pyproject.toml -r src/
