name: Check package

on:
  workflow_call:
    inputs:
      package-name:
        description: 'The name of the package folder to check.'
        default: ''
        required: true
        type: string

jobs:
  get_package_info:
    name: Get package info
    uses: ./.github/workflows/get_package_info.yml
    with:
      package-name: ${{ inputs.package-name }}
  check_codegen:
    if: ${{ needs.get_package_info.outputs.should-check-codegen == 'true' }}
    name: Codegen
    needs: get_package_info
    uses: ./.github/workflows/check_codegen.yml
    with:
      package-name: ${{ inputs.package-name }}
      proto-basepath: ${{ needs.get_package_info.outputs.proto-basepath }}
      proto-subpath: ${{ needs.get_package_info.outputs.proto-subpath }}
      proto-include-path: ${{ needs.get_package_info.outputs.proto-include-path }}
      output-basepath: ${{ needs.get_package_info.outputs.package-basepath }}/${{ inputs.package-name }}/src
      output-format: ${{ needs.get_package_info.outputs.output-format }}
  check_analyzers:
    name: Analyze
    needs: get_package_info
    uses: ./.github/workflows/check_analyzers.yml
    with:
      package-name: ${{ inputs.package-name }}
      package-basepath: ${{ needs.get_package_info.outputs.package-basepath }}
      install-extras: ${{ needs.get_package_info.outputs.install-extras }}
  check_docs:
    if: ${{ needs.get_package_info.outputs.should-check-docs == 'true' }}
    name: Docs
    needs: get_package_info
    uses: ./.github/workflows/check_docs.yml
    with:
      package-name: ${{ inputs.package-name }}
      package-basepath: ${{ needs.get_package_info.outputs.package-basepath }}
