name: Publish package

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      environment:
        description: The environment to publish to.
        default: 'none'
        required: true
        type: choice
        options:
          - none
          - pypi
          - testpypi
      package-name:
          description: The name of the package to publish.
          default: 'none'
          required: true
          type: choice
          options:
            - none
            - ni.datamonikers.v1.proto
            - ni.grpcdevice.v1.proto
            - ni.measurementlink.discovery.v1.proto
            - ni.measurementlink.measurement.v1.proto
            - ni.measurementlink.measurement.v2.proto
            - ni.measuremelink.pinmap.v1.proto
            - ni.measurementlink.proto
            - ni.measurementlink.sessionmanagement.v1.proto
            - ni.measurements.data.v1.proto
            - ni.measurements.metadata.v1.proto
            - ni.panels.v1.proto
            - ni.protobuf.types
            - ni-grpc-extensions

env:
  environment: ${{ github.event_name == 'release' && 'pypi' || inputs.environment }}
  environment-info: |
    {
      "pypi": {
        "base-url": "https://pypi.org",
        "upload-url": "https://upload.pypi.org/legacy/"
      },
      "testpypi": {
        "base-url": "https://test.pypi.org",
        "upload-url": "https://test.pypi.org/legacy/"
      }
    }

jobs:
  get_package_info:
    name: Get package info
    runs-on: ubuntu-latest
    outputs:
      package-name: ${{ steps.get_package_name_and_version.outputs.package-name }}
      package-version: ${{ steps.get_package_name_and_version.outputs.package-version }}
    steps:
      - name: Get package name and package version
        id: get_package_name_and_version
        run: |
          EVENT_NAME="${{ github.event_name }}"
          if [ "$EVENT_NAME" == "release" ]; then
            EVENT_TAG="${{ github.event.release.tag_name }}"
            PKG_NAME=$(echo "$EVENT_TAG" | cut -d / -f 1)
            echo "package-name=$PKG_NAME" >> $GITHUB_OUTPUT
            PKG_VERSION=$(echo "$EVENT_TAG" | cut -d / -f 2)
            echo "package-version=$PKG_VERSION" >> $GITHUB_OUTPUT
          else
            echo "package-name=${{ inputs.package-name }}" >> $GITHUB_OUTPUT
            echo "package-version=unused" >> $GITHUB_OUTPUT
          fi
  check_analyzers:
    name: Check analyzers for ${{ needs.get_package_info.outputs.package-name }}
    uses: ./.github/workflows/check_analyzers.yml
    needs: get_package_info
    with:
      package-name: ${{ needs.get_package_info.outputs.package-name }}
  check_docs:
    name: Check docs
    uses: ./.github/workflows/check_docs.yml
    needs: get_package_info
    with:
      package-name: ${{ needs.get_package_info.outputs.package-name }}
  build_package:
    name: Build ${{ needs.get_package_info.outputs.package-name }}
    runs-on: ubuntu-latest
    needs: [get_package_info, check_analyzers, check_docs]
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Python
        uses: ni/python-actions/setup-python@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
      - name: Check project version
        if: github.event_name == 'release'
        uses: ni/python-actions/check-project-version@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
        with:
          project-directory: ./packages/${{ needs.get_package_info.outputs.package-name }}
          expected-version: ${{ needs.get_package_info.outputs.package-version }}
      - name: Build distribution packages
        run: poetry build
        working-directory: ${{ github.workspace }}//packages/${{ needs.get_package_info.outputs.package-name }}
      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ needs.get_package_info.outputs.package-name }}-distribution-packages
          path: ./packages/${{ needs.get_package_info.outputs.package-name }}/dist/*
  publish_to_pypi:
    name: Publish ${{ needs.get_package_info.outputs.package-name }} to PyPI
    if: github.event_name == 'release' || inputs.environment != 'none'
    runs-on: ubuntu-latest
    needs: [get_package_info, build_package]
    environment:
      # This logic is duplicated because `name` doesn't support the `env` context.
      name: ${{ github.event_name == 'release' && 'pypi' || inputs.environment }}
      url: ${{ fromJson(env.environment-info)[env.environment].base-url }}/p/${{ needs.get_package_info.outputs.package-name }}
    permissions:
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: ${{ needs.get_package_info.outputs.package-name }}-distribution-packages
        path: ./packages/${{ needs.get_package_info.outputs.package-name }}/dist/
    - run: ls -lR
      working-directory: ${{ github.workspace }}//packages/${{ needs.get_package_info.outputs.package-name }}
    - name: Upload to ${{ env.environment }}
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        repository-url: ${{ fromJson(env.environment-info)[env.environment].upload-url }}
        packages-dir: ./packages/${{ needs.get_package_info.outputs.package-name }}/dist
  update_version:
    name: Update ${{ needs.get_package_info.outputs.package-name }} version
    runs-on: ubuntu-latest
    needs: [get_package_info, build_package]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Python
        uses: ni/python-actions/setup-python@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
      - name: Update project version
        uses: ni/python-actions/update-project-version@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
        with:
          project-directory: ./packages/${{ needs.get_package_info.outputs.package-name }}
          branch-prefix: users/build/${{ needs.get_package_info.outputs.package-name }}-
