name: Test package
on:
  workflow_call:
    inputs:
      package-name:
        description: 'The name of the package folder to test.'
        default: ''
        required: true
        type: string
  workflow_dispatch:
    inputs:
      package-name:
        description: 'The name of the package folder to test.'
        default: ''
        required: true
        type: string

jobs:
  get_package_info:
    name: Get package info - ${{ inputs.package-name }}
    uses: ./.github/workflows/get_package_info.yml
    with:
      package-name: ${{ inputs.package-name }}
  run_unit_tests:
    if: ${{ needs.get_package_info.outputs.should-run-tests == 'true' }}
    strategy:
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: ['3.10', 3.11, 3.12, 3.13, 3.14]
    name: Run unit tests - ${{ inputs.package-name }} (${{ matrix.python-version }} - ${{ matrix.os }})
    needs: get_package_info
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@9768589f3e50672173dad75a6fc181e4a85d33fa # v0.7.0
      - uses: ./.github/actions/run_and_upload_unit_tests
        with:
          package-name: ${{ inputs.package-name }}
          package-basepath: ${{ needs.get_package_info.outputs.package-basepath }}